body {
    margin: 0;
    padding: 0;
    background-color: #565566;
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    height: 75px;
    width: 100%;
    background-color: #333c46;
    color: white;
    font-size: 2rem;
    line-height:100%;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
}
.grid-container {
    display: grid;
}

#header-btns {
    float: right;
    width: 80%;
    height: 100%;
    line-height: 100%;
}

main {
    margin-top: 25px;
    width: 100%;
}

#board {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    max-width: 800px;
    aspect-ratio: 1/1;
}

#info {
    margin: 25px auto 0 auto;
    padding: 5px;
    width: 90%;
    background-color: #333c46;
    border-radius: 5px;
    color: white;
    overflow: scroll;
    height: 100vh;
    max-height: calc(100vh - 175px - 100vw);
}

#score-counter {
    text-align: center;
}

#game-history {
    font-family: 'IBM Plex Mono', monospace;
}

.square {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
}
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /*height: 800px;*/
    max-height: 80%;
    padding: 20px;
    background-color: white;
    z-index: 1;
    overflow: scroll;
}
.open {
    display: block;
}
.closed {
    display: none;
}

.btn {
    cursor: pointer;
}

#how-to-play {
    width: 100%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
}
#close-htp-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 150%;
}

#promotion-modal {
    max-width: 299px;
    min-height: 299px;
}

#promotion-btn-container {
    flex-wrap: wrap;
}

.promotion-btn {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    display: inline-block;
}
.promotion-btn:hover {
    background-color: #aaa;
}
.promotion-btn img {
    width: 100px;
    height: 100px;
}

.colour-btn {
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 10px;
}

#blue-btn .dark {
    background-color: #7e95a9;
}
#blue-btn .light {
    background-color: #d4dee3;
}

#brown-btn .dark {
    background-color: #ac8561;
}
#brown-btn .light {
    background-color: #ebd7b2;
}

#green-btn .dark {
    background-color: #779355;
}
#green-btn .light {
    background-color: #ededd0;
}