body {
    margin: 0;
    padding: 0;
}

#board {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    width: 100%;
    height: 800px;
}

.square {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
}

/* .square-container {
    width: 100%;
    height: 100%;
    z-index: 1;
} */